*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #7c7878;
  font-weight: 300;
  line-height: 1.6; }

.cars {
  background-color: #15293f; }

.features {
  background-color: #7c7878; }

.footer {
  background-color: #15293f; }

.gallery {
  background-color: #3b3329; }

.header {
  background-color: #3b3329; }

.sidebar {
  background-color: #df8a23; }

.staff {
  background-color: #15293f; }

.story__pictures {
  background-color: #df8a23; }

.story__content {
  background-color: #e9e7e7; }
