$color-grey-light-1: #e9e7e7;
$color-grey-light-2: #7c7878;

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Global Reset
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;

    // 1rem = 10px;
    font-size: 62.5%
}

// Global font size
body{
    font-family: $font-primary;
    color: $color-grey-light-2;
    font-weight: 300;
    line-height: 1.6;
}