$color-primary: #df8a23;
$color-primary-dark: #90540b;

$color-secondary: #15293f;

$color-pink: #b4538f;

$color-grey-light-1: #e9e7e7;
$color-grey-light-2: #7c7878;

$color-grey-dark-1: #3b3329;
$color-grey-dark-2: #7a6a57;

$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Breakpoints
$bp-largest: 75em;  // 1200px
$bp-large: 62.5em;  // 1000px

// Global Reset
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;

    // 1rem = 10px;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest){
        font-size: 50%;
    }
}

// Global font size
body{
    font-family: $font-primary;
    color: $color-grey-light-2;
    font-weight: 300;
    line-height: 1.6;
}

.container{
    // css grid
    display: grid;
    // min-content is the height of the content
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    // minmax make it responsive
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    // always name your columns in order to make it easier for responsive
    @media only screen and (max-width: $bp-large){
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }
}