.cars{
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.car{
    background-color: $color-grey-light-1;

    &_img{
        width: 100%;
    }

    &__like{

    }

    &__name{

    }

    &__seat,
    &__speed,
    &__price,
    &__time{

        svg{
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
        }

        p{

        }
    }
}