.features{
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    //grid-template-columns: repeat(3, 1fr);

    // auto-fit try to fit as many content based on the width
    // it move the content to the next row if it does not fit
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    grid-gap: 6rem;
    align-items: start;
}

.feature{
    display: grid;
    grid-template-columns: min-content 1fr;

    // add space between row and column
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon{
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        // -1 mean end of the explicit grid
        grid-row: 1 / span 2;
        // move the icon up
        transform: translateY(-1rem);
    }

    &__text{
        font-size: 1.7rem;
    }
}