.header{
    background-color: $color-pink;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(rgba($color-pink, .8), rgba($color-secondary, .5)), url(../img/hero.jpe);
    background-size: cover;
    background-position: top;
    padding: 6rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: 1fr min-content 6rem 1fr;
    grid-template-columns: max-content;
    grid-row-gap: 1.5rem;
    justify-content: center;

    &__logo{
        height: 5rem;;
        justify-self: center;
    }

    &__btn{
        align-self: start;
        justify-self: start;
    }

    &__seenon-text{

    }

    &__seenon-logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;

        img{
            // setting the width would mess up the logos
            height: 6.5rem;
        }
    }
}