.header{
    background-color: $color-pink;
    grid-column: full-start / col-end 6;

    &__logo{
        height: 5rem;;
    }

    &__seenon-text{

    }

    &__seenon-logos{

        img{
            // setting the width would mess up the logos
            height: 6.5rem;
        }
    }
}