.header{
    background-color: $color-pink;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(rgba($color-pink, .8), rgba($color-secondary, .5)), url(../img/hero.jpe);
    background-size: cover;
    background-position: top;

    display: grid;
    grid-template-rows: 1fr min-content 6rem 1fr;
    grid-row-gap: 1.5rem;

    &__logo{
        height: 5rem;;
    }

    &__seenon-text{

    }

    &__seenon-logos{

        img{
            // setting the width would mess up the logos
            height: 6.5rem;
        }
    }
}