.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;
    }
}

.nav-btn{
    border: none;
    border-radius: 0;

    background-color: white;
    height: 2px;
    width: 3.5rem;
    margin-top: 4rem;

    &::before,
    &::after{
        background-color: white;
        height: 2px;
        width: 3.5rem;

        // these will display the line
        content: "";
        display: block;
    }

    &::before{ transform: translateY(-1rem); }
    &::after{ transform: translateY(.8rem); }

    @media only screen and (max-width: $bp-large){
        margin-top: 0;
        margin-right: 2.5rem;

        &::before{ transform: translateY(-.9rem); }
        &::after{ transform: translateY(.6rem); }
    }
}