.staffs{
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;

    &__list{
        display: grid;
        // max-content prevent any line break
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        // vh to make it responsive
        grid-row-gap: 5vh;
    }

    &__img{
        display: block;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
    }

    &__sold{

    }
}